.tr1{

    background-color: aqua;

}
.tr2{

    background-color: antiquewhite;
}
.tr3{

    background-color: aquamarine;
}
.tr4{

    background-color: azure;
}
.tr5{

    background-color:beige;
}
.tr6{

    background-color:bisque;
}